[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"

testpaths = [
    "tests",
    "integration",
]

[tool.semantic_release]
version_variable = "setup.py:__version__"
branch = "main"
commit_parser = "semantic_release.history.emoji_parser"

major_emoji = ":boom:"
minor_emoji = ":sparkles:"
patch_emoji = ":ambulance:,:bug:,:adhesive_bandage:,:lock:,:arrow_up:,:arrow_down:,:heavy_plus_sign:,:heavy_minus_sign:,:rotating_light:,:zap:,:recycle:,:wrench:,:loud_sound:,:mute:,:goal_net:,:wastebasket:,:coffin:,:chart_with_upwards_trend:,:globe_with_meridians:,:alien:,:wheelchair:,:children_crossing:,:bricks:"
upload_to_pypi = false

major_on_zero = false

[pytest]
mock_use_standalone_module = true
