name: "Publish a new release"
on:
  push:
    branches:
    - main

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions: write-all

    steps:
    - name: Temporarily disable "include administrators" branch protection
      uses: benjefferies/branch-protection-bot@master
      if: always()
      with:
        access_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
        branch: ${{ github.event.repository.default_branch }}

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Python Semantic Release
      uses: relekang/python-semantic-release@master
      with:
        github_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
        repository_username: __token__
        repository_password: ${{ secrets.PYPI_TOKEN }}

    - name: Enable "include administrators" branch protection
      uses: benjefferies/branch-protection-bot@master
      if: always()
      with:
        access_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
        branch: ${{ github.event.repository.default_branch }}
